module "dcos-openstack" {
    source = "./openstack"

    # OpenStack User Account
    openstack_access_key = "<CHANGE-ME>"
    # OpenStack Password
    openstack_secret_key = "<CHANGE-ME>"
    # OpenStack Tenant Name
    openstack_tenant_name = "<CHANGE-ME>"

    # SSH User
    openstack_ssh_user = "core"
    # SSH Key Name (this will be a new key name - do not reuse an existing key name)
    openstack_key_name = "dcos-key"
    # SSH Public Key to make authorized key for all nodes in the DCOS cluster
    openstack_public_key = "<CHANGE-ME>"
    # Path & filename of the SSH private key.  Note that the SSH private key should not be password-protected.
    # If necessary, create a new key with ssh-keygen and make sure the private key file and the public key file 
    # contents (which should be pasted in the previous entry) match up.
    openstack_ssh_private_key_file = "<CHANGE-ME>"

    # Number of Mesos slaves to instantiate
    num_slaves = "3"

    # URI of Keystone authentication agent
    openstack_keystone_uri = "https://region-a.geo-1.identity.hpcloudsvc.com:35357/v2.0/"

    # Instance flavors for Mesos master and slave VMs
    openstack_instance_type_master = "standard.medium"
    openstack_instance_type_slave = "standard.medium"

    # The internet facing network which Neutron L3 routers should use as a gateway.  On hpcloud, this is typically 
    # called Ext-Net.  neutron net-list |grep Ext-Net  should provide the ID for this network.
    openstack_neutron_router_gateway_network_id = "7da74520-9d5e-427b-a508-213c84e69616"

    # The name of the pool that floating IP addresses will be requested from
    openstack_floating_ip_pool_name = "Ext-Net"

    # The name of the Openstack Glance image used to spin up all VM instances.
    openstack_image = "CoreOS"

    # URL to download DCOS tarball from - you need to get this from Mesosphere
    dcos_download_url = "<CHANGE-ME>"

    # DCOS repository base URL - you need to get this from Mesosphere
    dcos_repository_url = "<CHANGE-ME>"

    # Openstack Region (Blank default for 'no region' installations) - set to US West here
    # Change to region-b.geo-1 for US East
    openstack_region = "region-a.geo-1"
}

output "dcos_target" {
    value = "${module.dcos-openstack.dcos_target}"
}
